#navbar {
    flex-direction: column;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

#home {
    height: 400px;
    padding: 4px 30px;
}

#home::before {
    height: 500px;
}

#home p {
    font-size: 12px;
}

#services {
    flex-direction: column;
}

#services .box {
    padding: 13px;
    margin: 3px;
    margin-bottom: 30px;
}


#clients {
    flex-wrap: wrap;
}

#clients img {
    width: 60px;
    padding: 5px;
    height: auto;
}


#contact-box form {
    width: 75%;
}

.h-primary {
    font-size: 24px;
}

.btn {
    font-size: 11px;
    padding: 5px 9px;
}